<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/Association"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>org/model/Activity.hbm.xml</value>
				<value>org/model/Admin.hbm.xml</value>
				<value>org/model/Association.hbm.xml</value>
				<value>org/model/User.hbm.xml</value>
				<value>org/model/Usertoactivity.hbm.xml</value>
				<value>org/model/Usertoassociation.hbm.xml</value>
			</list>
		</property>
	</bean>
	<bean name="checkActivityAction" class="org.action.CheckActivityAction">
		<property name="activityDaoImpl">
			<ref bean="activityDaoImpl"/>
		</property>
	</bean>
	<bean id="activityDaoImpl" class="org.dao.imp.ActivityDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean name="usertoactivityAction" class="org.action.UsertoActivityAction">
		<property name="usertoactivityDaoImpl">
			<ref bean="usertoactivityDaoImpl"/>
		</property>
	</bean>
	<bean id="usertoactivityDaoImpl" class="org.dao.imp.UsertoactivityDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean name="adminAction" class="org.action.AdminAction">
		<property name="adminDaoImpl">
			<ref bean="adminDaoImpl"/>
		</property>
	</bean>
	<bean id="adminDaoImpl" class="org.dao.imp.AdminDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean name="checkAssociationAction" class="org.action.CheckAssociationAction">
		<property name="associationDaoImpl">
			<ref bean="associationDaoImpl"/>
		</property>
	</bean>
	<bean id="associationDaoImpl" class="org.dao.imp.AssociationDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean name="loginAction" class="org.action.LoginAction">
		<property name="userDaoImpl">
			<ref bean="userDaoImpl"/>
		</property>
	</bean>
	<bean name="userAction" class="org.action.UserAction">
		<property name="userDaoImpl">
			<ref bean="userDaoImpl"/>
		</property>
	</bean>
	<bean id="userDaoImpl" class="org.dao.imp.UserDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean name="usertoassociationAction" class="org.action.UsertoassociationAction">
		<property name="usertoassociationDaoImpl">
			<ref bean="usertoassociationDaoImpl"/>
		</property>
	</bean>
	<bean id="usertoassociationDaoImpl" class="org.dao.imp.UsertoassociationDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	</beans>